<a href="https://colab.research.google.com/github/GavinPae/HW1/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic Arithmetic

a=10
b=5
sum=a+b
difference=a-b
product=a*b
quotient=a/b
print("Sum:", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum: 15
Difference:  5
Product:  50
Quotient:  2.0

In [ ]:
print(f"The sum of two numbers {a}, {b} is {sum}")

The sum of two numbers 10, 5 is 15

In [ ]:
x=13/2
print(x)
y=13%2
print(y)

6.5
1

In [ ]:
# Boolean comparisons

x=10
y=5

is_greater=x>y
is_equal=x==y
is_not_equal=x !=y

print("is x greater than y?" , is_greater)
print("is x equal to y?", is_equal)
print("is x not equal to y?", is_not_equal)

#Variable

name= "Gavin"
age= 22
is_student=True
print(f"{name}'s age is {age}. He is a Student:{is_student}")

is x greater than y? True
is x equal to y? False
is x not equal to y? True
Gavin's age is 22. He is a Student:True

In [ ]:
# Functions

def greet(name):
  return "Hello,"+ name + "!"
my_name=input("Enter Your Name: ")
greet(my_name)

Enter Your Name: Gavin

'Hello,Gavin!'

In [ ]:
def add_numbers(a,b):
  return a+b
a=eval(input("Enter First Number: "))
b=eval(input("Enter Second Number: "))
sum=add_numbers(a,b)
print(f"The result of adding {a} and {b} is {sum}")

Enter First Number: 3
Enter Second Number: 4
The result of adding 3 and 4 is 7

In [ ]:
#Strings

message="Hello, World!"
length=len(message)
uppercase=message.upper()
lowercase=message.lower()
substring=message[7:12]
print("Original message: ", message)
print("the length is: ", length)
print("Uppercase: ", uppercase)
print("Lowercase: ", lowercase)
print("Part of the message is ", substring)

Original message:  Hello, World!
the length is:  13
Uppercase:  HELLO, WORLD!
Lowercase:  hello, world!
Part of the message is  World

In [ ]:
#Basic input
last=input("Enter your last name ")
first=input("Enter your first name ")
print(f" {last}, {first}")

Enter your last name Paeth
Enter your first name Gavin
 Paeth, Gavin

In [ ]:
#Numeric Input
age=int(input("Enter your age: "))
print("You will be", age+1, "years old next year")

Enter your age: 23
You will be 24 years old next year

In [ ]:
#input calculations

num1=float(input("Enter a number: "))
num2=float(input("Enter a different number: "))
sum=num1+num2
print("Sum:",sum)

In [ ]:
#String input concatenation
city=input("Enter your City: ")
country=input("Enter your Country: ")
location=city+","+country
print("You are in:",location)

Enter your City: Milford
Enter your Country: US
You are in: Milford,US

In [ ]:
#Multiple inputs
name,age=input("Enter your name and age separated by a space: ").split()
print(f"my name is {name} and my age is {age}")

Eter your name and age separated by a space: Gavin 22
my name is Gavin and my age is 22